	<em>writings / writing_fields</em><br/>
	<div class="fields">

		<!--
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
		-->

    <%= f.label :text_id %><br>
		<%= f.number_field :text_id %>

    <%= f.label :role %><br>
		<%= f.number_field :role %>

  </div>
