<table>
  <thead>
    <tr>
      <th>Meta filter</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% 
			@meta_filter_pairs.each do |meta_filter_pair|
				Rails.logger.warn meta_filter_pair.value.inspect
		%>
      <tr>
        <td><%= meta_filter_pair.meta_filter.filter %></td>
        <td><%= meta_filter_pair.key %></td>
				<td><%= meta_filter_pair.value %></td>
				<% if @meta_filter.nil? %>
					<td><%= link_to 'Show', meta_filter_pair %></td>
					<td><%= link_to 'Edit', edit_meta_filter_pair_path(meta_filter_pair) %></td>
					<td><%= link_to 'Destroy', meta_filter_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% else %>
					<% if meta_filter_pair.value.is_a?(Array) %>
						<% meta_filter_pair.value.each do|v| %>
							<%= hidden_field_tag "#{meta_filter_pair.key}[]", v %>
						<% end %>
					<% else %>
						<%= hidden_field_tag meta_filter_pair.key, meta_filter_pair.value %>
					<% end %>
					<td/>
					<td/>
					<td/>
			<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
