<p id="notice"><%= notice %></p>

<p>
  <strong>Meta filter:</strong>
  <%= @meta_filter_pair.meta_filter_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @meta_filter_pair.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @meta_filter_pair.value %>
</p>

<%= link_to 'Edit', edit_meta_filter_pair_path(@meta_filter_pair) %> |
<%= link_to 'Back', meta_filter_pairs_path %>
