<h1>Input philosopher name</h1>

<%# form_for(@author, url: {action: action_name}) do |f| %>
<%= form_for(@author, url: dbpedia_authors_path) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<div class="field">
    <%= f.label :name_in_extended_latin_script %><br>
    <%= f.text_field :english_name %>
  </div>
  <div class="actions">
    <%= f.submit 'Seek author' %>
	</div>
<% end %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
