<h1 style='text-decoration: underline dotted #E4652B;'>Welcome</h1>

<p>
	<%= link_to 'All files', fyles_path %> |

	<%= link_to 'All texts', texts_path %> |

	<%= link_to 'All authors', authors_path %>
</p>

<hr align='left' width='33%'>

<p>
	<%= link_to 'All dictionaries', dictionaries_path %> |

	<%= link_to 'All entries by dictionary', entries_path %>
</p>

