<div id="the-container" class="rounded container">
	<div class="row">
		<div class="col-md-3">
			<p>
				<img src="images/inquiry_too.png" width="384px">
			</p>
		</div>
		<div class="col-md-6">
			<h2>This page contains links to online collections of philosophical texts</h2>
			<p>
			<i>I'll add the ability to upload new links soon-ish</i>
			</p>

			<p>
			<i>It would be useful to have both a short blurb that describes each collection,</i>
		  </p>
			<ul>
				<li><%= link_to 'Free Philosophy eBooks |  Open Culture', 'http://www.openculture.com/free-philosophy-ebooks' %></li>

				<li><%= link_to 'Philosophy (Bookshelf) - Gutenberg', 'http://www.gutenberg.org/wiki/Philosophy_%28Bookshelf%29' %></li>

				<li><%= link_to 'Philosophy Collection - eBooks@Adelaide', 'https://ebooks.adelaide.edu.au/meta/collections#PHILOSOPHY' %></li>

				<li><%= link_to 'Philosophy - Online Library of Liberty', 'http://oll.libertyfund.org/groups/53' %>

				<li><%= link_to 'The Internet Classics Archive | Browse', 'http://classics.mit.edu/Browse/index.html' %></li>

				<li><%= link_to 'Online Full Philosophical Texts { Philosophy Index }', 'http://www.philosophy-index.com/texts.php' %></li>

				<li><%= link_to 'Philosophy Collection - EServer', 'http://philosophy.eserver.org/texts.htm' %></li>

				<li><%= link_to 'Online Papers and Books - DiText', 'http://www.ditext.com/online.html' %></li>

				<li><%= link_to 'Intelex - Past Masters: Full Text, All Philosophy', 'http://www.nlx.com/subjects/18' %></li>

				<hr style="border-top: dotted 1px; margin-right: 200px" />

				<li><%= link_to 'Important publications in philosophy - Wikipedia', 'https://en.wikipedia.org/wiki/List_of_important_publications_in_philosophy' %></li>

				<li><%= link_to 'List of texts on this website', texts_path %></li>
			</ul>
		
			<p>
			<i>and it would be useful to give an indication of what percentage of those texts have been brought over to this corpus.</i>
			</p>

			<hr>

			<p>
			Interestingly, a lot of collections are focussed on annotation. This means that texts
			are marked up in XML and TEI. This is fantastic as it adds valuable structured data
			locally and potentially even globally once the Semantic Web becomes a thing. (Note: at
			the moment of writing (early 2016) it is not a thing.)
			</p>
			<p>
			I haven't found a corpus of philosophical texts in plain text. That is why I have
			created this site. If such a site does indeed exist and I have overlooked it, then
			I assure you that it is not for the want of trying. Plain text means: only the content,
			no site preamble, as much paratext as possible removed.
			</p>
			<p>
			I am aware that a collection of philosophical texts begs the question, “What makes a
			text a <i>philosophical</i> text?” This question, and others like it, approximate to
			the question, what makes something anything? Or, what makes anything something? If we
			take being as a given (it is hard not to) then the next question is,
			given that there are things, what makes any one thing the thing that it is?
			</p>
			<p>
			Let us step back from the edge of the precipice. Heuristically we will operate as
			follows:
				<ul>
					<li>A philosophical text is a text written by a philosopher, someone acting in the role of a philosopher, or the philosophically inclined</li>
					<p>This allows us to cover historical philosophers, academic philosophers,
					and others who are not philosophers but have written a work widely regarded as philosophical</p>
					<li>A philosophical text appears is cited as such in philosophical reference works</li>
					<p>So-called canonical works. But, as we have seen from the squabbles and tussles around
					the canon over the hedge in literary studies (ground won and lost by feminists,
					post-colonialists, subalternists, postmodernists) any canon is subject to changes as
					norms change.</p>
					<li>Articles that appear in philosophical journals</li>
					<li>We should start with a canon of agreed upon texts and work outwards from there, err on the side of caution initially</li>
					<p>This seems sensible.</p>
				</ul>
			</p>
			<p>
			An interesting question then is, what is it about philosophical texts that make them
			philosophical. If we answer, they are concerned with philosophy. Then we have started
			chasing our own tail from the outset.
			</p>
			<p>
			Imagine this. Imagine an algorithm that could ingest a stream of natural language and
			pronounce to what degree and to what extent it was philosophical. How many axes would
			this measurement be plotted on? I imagine several broad axes, one for subject matter,
			one for style, one for methods. Are there others that I may have missed? (Willard
			McCarty and Moor &amp; Bynum might say models.)
			</p>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
