
<p>
  <strong>Title:</strong>
  <%= @dictionary.title %>
</p>

<p>
  <strong>Long title:</strong>
  <%= @dictionary.long_title %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @dictionary.URI %>
</p>

<p>
  <strong>Current editor:</strong>
  <%= @dictionary.current_editor %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @dictionary.contact %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @dictionary.organisation %>
</p>

