<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Inequality</th>
      <th>Original year</th>
      <th>Title in English </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filters.each do |filter| %>
      <tr>
        <td><%= filter.name %></td>
        <td><%= filter.tag_id %></td>
        <td><%= filter.inequality %></td>
        <td><%= filter.original_year %></td>
        <td><%= filter.name_in_english %></td>
        <td><%= link_to 'Show', filter %></td>
        <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
        <td><%= link_to 'Destroy', filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filter', new_filter_path %>
